

/*CUSTOMIZATION*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font: Arial, Helvetica, sans-serif;
  /*background-color: #ccc;*/
}

a:hover{
  color: rgb(22,222,220);
  /* border: 1px solid red; */
}

.background-grid{
  position: fixed;
  z-index: 0;
  width: 100%;
  min-height: 200%;
  opacity: 0.8;
  min-width: 1000px;
}

#site-header{
  background: rgba(0,0,0,0.2);
}

.header, .main, .footer{
  z-index: 2;
  position: relative;
}

.main{
  /*color: #fff;*/
  background: transparent;
}

.background-grid__row{
  clear: both;
  overflow: hidden;
  white-space: pre;
}

.background-grid__grid-square{
  min-width: 100px;
  min-height: 100px;
  position: relative;
  display: block;
  float: left;
  opacity: 0.8;
  transition: all 0.5s linear;
  white-space: pre;
}

.clear{
  clear: both;
}

#body{
  position: relative;
  z-index: 2;
}

.entry .featured-image{
  max-height: 400px;
}

.entry, .comments{
  max-width: 970px;
}


p img{
  max-width: 100%;
}

p a img{
  border: 2px solid rgba(0,0,0,0,.2);
}

p a img:hover{
  border-color: rgba(0,0,0,0.5);
}

img[src$='#thumbnail'] { 
  float:left;
  margin: 0 25px 15px 0;
  width: 100px;
  height: 100px;
}



.cv_menu{
  text-align: center;
}
.cv_menu a{
  text-decoration: none;
}
.cv_menu a:hover{
  text-decoration: underline;
}

.archive-header{
  color: #eee;
}

p iframe{
  margin-top: 15px;
}

.pagination a:link, .pagination a:visited{
  color: #fff;
}

.homepage-content{
  background: rgba(255,255,255,0.5);
  margin: 20px auto;
  padding: 20px 50px;
  font-size: 1.2em;
  min-height: 200px;
}

.homepage-content img{ 
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: -20px auto 20px;
  display: block;
}

#disqus_thread{
  padding: 0;
}

.comments{
  max-width: 970px;
  padding: 0;
}

@media (min-width: 720px) {
  .homepage-content img{ 
    float: left;
    margin: -20px 40px 0 0;
  }
}

.pixels-photo{
  clear: both;
  background: #eee;
  padding-bottom: 1px;
  font-style: italic;
  text-align: center;
  font-size: 13px;
}

.pixels-photo a{
  text-decoration: none;
}

.pixels-photo a{
  text-decoration: none;
}

.pixels-photo.right img,
.pixels-photo.left img{
  margin-top: -23px;
}

.pixels-photo.right{
  float: right;
  width: 40%;
  clear: right;
  margin: 20px 0 20px 20px;
}

.pixels-photo.left{
  float: left;
  width: 40%;
  clear: left;
  margin: 20px 20px 20px 0;
}

.pixels-photo.width_60{
  width: 60%;
}

.pixels-photo.width_50{
  width: 50%;
  margin: 20px -5px;
}